#include <dt-bindings/zmk/matrix_transform.h>

/ {
   chosen {
      zmk,kscan = &default_kscan;
      zmk,matrix_transform = &default_transform;
   };

   default_kscan: kscan {
      compatible = "zmk,kscan-gpio-matrix";
      label = "default_kscan";
      diode-direction = "col2row";
      wakeup-source;
      
      row-gpios = <&gpio1 13 GPIO_PULL_UP>,
                  <&gpio1 11 GPIO_PULL_UP>,
                  <&gpio0 10 GPIO_PULL_UP>;

      col-gpios = <&gpio0 22 GPIO_OUTPUT_HIGH>,
                  <&gpio0 24 GPIO_OUTPUT_HIGH>,
                  <&gpio1 0 GPIO_OUTPUT_HIGH>;

      debounce-press-ms = <5>;
      debounce-release-ms = <5>;
   };

   default_transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        columns = <3>;
        rows = <3>;
        map = <
        //   Key 1 | Key 2 | Key 3
            RC(0,0) RC(0,1) RC(0,2)
        //   Key 4 | Key 5 | Key 6
            RC(1,0) RC(1,1) RC(1,2)
        //   Key 7 | Key 8 | Key 9
            RC(2,0) RC(2,1) RC(2,2)
        >;
   };
};